.language-switcher {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
  color: #ced7e6 !important;
}

.language-option {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ced7e6;
  transition: background-color 0.3s ease, border-left 0.3s ease;
  width: 100%;
  background: none;
  display: flex !important;
  justify-content: flex-start !important;
}

.language-switcher:hover {
  color: #19b3fa !important;
}

.language-option:hover {
  background-color: #ace2fc;
  border-left: 5px solid #19b3fa;
}

.language-option-selected {
  animation: language-option-selected-animation 0.3s ease forwards;
}

@keyframes language-option-selected-animation {
  from {
    border-left: 0px solid #19b3fa;
  }
  to {
    border-left: 7px solid #19b3fa;
  }
}
